<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @season.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @season.location %>
</p>

<p>
  <strong>Survivors:</strong>
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Age</th>
    <th>Residence</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @season.survivors.each do |survivor| %>
      <tr>
        <td><strong><%= survivor.name %></strong></td>
        <td></strong><%= image_tag survivor.photo_url %></td>
        <td><%= survivor.age %></td>
        <td><%= survivor.residence %></td>
        <td><%= survivor.fantasy %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
