<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survivor.name %>
</p>

<p>
  <%= image_tag @survivor.photo_url %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survivor.age %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @survivor.residence %>
</p>

<p>
  <strong>Fantasy:</strong>
  <%= @survivor.fantasy %>
</p>

<p>
  <strong>Elimination number:</strong>
  <%= @survivor.elimination_number %>
</p>

<p>
  <strong>Seasons:</strong>
</p>
<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Location</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @survivor.seasons.each do |season| %>
      <tr>
        <td><%= season.number %></td>
        <td><%= season.name %></td>
        <td><%= season.location %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_survivor_path(@survivor) %> |
<%= link_to 'Back', survivors_path %>
