<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tribe.name %>
</p>

<p>
  <strong>Tribe generation:</strong>
  <%= @tribe.tribe_generation %>
</p>

<%= link_to 'Edit', edit_tribe_path(@tribe) %> |
<%= link_to 'Back', tribes_path %>
